{{#each messages}}
<div class="row">
  <div class="col s12 m12">
    <div class="card horizontal">
      <div class="card-image circle">
        <img class="circle" src="{{this.dataValues.Member.dataValues.profileImage}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>{{this.dataValues.message}}</p>
        </div>
        <div class="card-action">
          <a>{{this.dataValues.createdAt}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}
