<!-- This contains the menu  -->
<div class="col s3">
  <div class="collection">
    <a href="./my-profile" class="collection-item {{#if active_profile}}active{{/if}}">Profile</a>
    <a href="./my-listings" class="collection-item {{#if active_listings}}active{{/if}}">Listings</a>
    <a href="./my-bids" class="collection-item {{#if active_bids}}active{{/if}}">Bids</a>
    <a href="./my-messages" class="collection-item {{#if active_messages}}active{{/if}}">Messages</a>
  </div>

  <!-- Adding a button to add a new listing -->
  <div class="center-align">
    <a class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Add new listing"><i class="material-icons">add</i></a>
  </div>

</div>
