<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css" type="text/css" />

  <meta charset="utf-8">

  <title>Home Bid</title>

  <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>

  {{{ body }}}

  <!-- public js scripts go below -->
  <script src=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>

</html>
