<div class="pad-y-2">
  <div class="container teal-border">
    <div class="pad-x-4 pad-y-2">

      <form class="col s12">

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Title" id="title-line" type="text" class="validate">
            <label for="subject_line">Subject line</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Address" id="address-line" type="text" class="validate">
            <label for="address">Address</label>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field s12">
            <div class="btn">
              <span>Upload Image</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input id="upload-image" class="file-path validate" type="text" placeholder="Upload one or more image">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="description-text" class="materialize-textarea"></textarea>
            <label id="description-text">Description</label>
          </div>
        </div>

        <div class="row">
          <div class="btn" id="submit-listing">
            <span>Post</span>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
