<div class="red lighten-2 pad-6">
  <div class="container white teal-border">
    <div class="pad-4">

      <form class="col s12">

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Title" id="subject_line" type="text" class="validate">
            <label for="subject_line">Subject line</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Address" id="address" type="text" class="validate">
            <label for="address">Address</label>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field s12">
            <div class="btn">
              <span>Upload Image</span>
              <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more image">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="description_text" class="materialize-textarea"></textarea>
            <label for="description_text">Description</label>
          </div>
        </div>

        <div class="row">
          <div class="btn">
            <span>Post</span>
          </div>
        </div>

      </form>

    </div>
  </div>
</div>
