<body id="homeContainer">

  <!-- Adding a navbar -->
  {{> nav/nav-block}}

  <br>

  <!-- Add buttons for buyer and seller -->
  <div class="container">
    <div class="row">
      <div class="homeButtons valign-wrapper">
        <a href="./view-listings" class="col s5 waves-effect waves-light btn-large homeChoice">Buy a Home</a>
        <a href="./my-profile/" class="col s5 waves-effect waves-light btn-large homeChoice">Sign In</a>
      </div>
    </div>
  </div>

</body>
