<body id="homeContainer">

  <!-- Adding a navbar -->
  <nav>
    <div class="container">
      <div class="row">
        <div class="nav-wrapper">
          <a href="./home.html" class="brand-logo">homeBid</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./listings.html">Buy a Home</a></li>
            <li><a href="./createListing.html">Sell a Home</a></li>
            <li><a href="badges.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Add buttons for buyer and seller -->
  <div class="container">
    <div class="row">
      <div class="homeButtons valign-wrapper">
        <a href="./listings.html" class="col s5 waves-effect waves-light btn-large homeChoice">Buy a Home</a>
        <a href="./createListing.html" class="col s5 waves-effect waves-light btn-large homeChoice">Sell a Home</a>
      </div>
    </div>
  </div>

</body>
