<body id="homeContainer">

  <!-- Adding a navbar -->
  {{> nav/nav-block}}

  <br>

  <!-- Add buttons for buyer and seller -->
  <div class="container">
    <div class="row">
      <div class="homeButtons valign-wrapper">
        <a href="./view-listings" class="col s5 waves-effect waves-light btn-large homeChoice">Buy a Home</a>
        <a id="profile" class="col s5 waves-effect waves-light btn-large homeChoice">Profile</a>
      </div>
    </div>

    <div class="row">
      <form ref='uploadForm' id='uploadForm' action='http://localhost:3000/api/uploads' method='post' encType="multipart/form-data">
        <input type="file" name="imgFile" />
        <input type='submit' value='Upload!' />
      </form>

    </div>
  </div>

</body>
