<!-- Adding the navbar -->
{{> nav/nav-block}}

<!-- This contains our entire profile -->
<div class="container profileContainer">
  <div class="row">
    <br>

    <!-- This contains the menu  -->
    {{> menu/profile-menu-block id=memberId active_listings=true}}

    <!-- Begin displaying listings here -->
    <div class="col s9">
      {{> profile/listing}}
    </div>
  </div>
</div>
