<!-- Adding the navbar -->
<nav>
  <div class="container">
    <div class="row">
      <div class="nav-wrapper">
        <a href="./home.html" class="brand-logo">homeBid</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="./listings.html">Buy a Home</a></li>
          <li><a href="./createListing.html">Sell a Home</a></li>
          <li><a href="badges.html">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- This contains our entire profile -->
<div class="container profileContainer">
  <div class="row">

<!-- This contains the menu  -->
    <div class="col s3">
     <div class="collection">
       <a href="/profile/1" class="collection-item active">Profile</a>
       <a href="/profile/1/listings" class="collection-item ">Listings</a>
       <a href="/profile/1/bids" class="collection-item">Bids</a>
       <a href="/profile/1/messages" class="collection-item">Messages</a>
    </div>
   </div>


    <div class="col s9">


      <div class="col s12">

        {{!-- Add profile image --}}
        <div class="row">
          <div class="col s4">

            <img class="circle profileImage" src="http://placehold.it/150" alt="Profile">

          </div>

          <div>
            <div class="input-field col s4">
              {{!-- Update value in this line to hold the datatag --}}
              {{#each Members}}
              <input value="{{this}}" id="firstName" type="text" class="validate">
                {{/each Members}}
              <label class="active" for="firstName">First Name</label>
            </div>

            <div class="input-field col s4">
              {{!-- Update value in this line to hold the datatag --}}
              <input value="Smith" id="lastName" type="text" class="validate">
              <label class="active" for="lastName">Last Name</label>
            </div>
          </div>

        </div>


        {{!-- Add the fields --}}
        <form class="col s9">

          <!-- Add name -->
          <div class="row">


          <!-- Add eail address -->
          <div class="row">
            <div class="input-field col s12">
              {{!-- Update value in this line to hold the datatag --}}
              <input value="123@email.com" id="email" type="text" class="validate">
              <label class="active" for="email">Email Address</label>
            </div>
          </div>

          <!-- Add about me -->
          <div class="row">
            <div class="input-field col s12">
              <textarea id="about" class="materialize-textarea" data-length="500">This is the sample text about me</textarea>
              <label class="active" for="about">Tell the world about yourself</label>
            </div>
          </div>


          <!-- Submit -->
          <a id="submitProfile" class="waves-effect waves-light btn">Submit</a>
        </form>
      </div>
     </div>
   </div>
 </div>
</div>
