<!-- Adding the navbar -->
<nav>
  <div class="container">
    <div class="row">
      <div class="nav-wrapper">
        <a href="./home.html" class="brand-logo">homeBid</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="./listings.html">Buy a Home</a></li>
          <li><a href="./createListing.html">Sell a Home</a></li>
          <li><a href="badges.html">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
  
   {{!-- Add profile image --}}
    <div class="col s3">
      <img class="circle profileImage" src="http://clipart-library.com/images/kTMKzGyMc.jpg" alt="Profile">
    </div>

    {{!-- Add the fields --}}
     <div class="col s9">
        <ul class="collection">
          <li class="collection-item"><span class="badge">John</span>First Name</li>
          <li class="collection-item"><span class="badge">Smith</span>Last Name</li>
          <li class="collection-item"><span class="badge">123 Fake Street</span>Address One</li>
          <li class="collection-item"><span class="badge">Apartment 123</span>Address Two</li>
          <li class="collection-item"><span class="badge">Washington</span>City</li>
          <li class="collection-item"><span class="badge">District of Columbia</span>State</li>
          <li class="collection-item"><span class="badge">(123) 456-7890</span>Phone Number</li>
        </ul>
     </div>
    
  </div>
</div>
