#homeContainer {
  background-image: url('./Images/home.jpeg');
  background-size: 100%;

main {
  flex: 1 0 auto;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1 0 auto;
}

.teal-border {
  border-style: solid;
  border-width: thick;
  border-color: #4db6ac;
}

.pad-x-4 {
  padding-right: 4em;
  padding-left: 4em;
}

.pad-y-2 {
  padding-top: 2em;
  padding-bottom: 2em;

.homeButtons {
  margin: 50px
}

.profileContainer {
  margin-top: 100px;
}

/*This is probably temporary*/
.won {
  color: green;
}

/*This is probably temporary*/
.lost {
  color: red;
}

.messageImage {
  margin: 5px;
}
