<!-- Adding a navbar -->
<nav>
  <div class="container">
    <div class="row">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Home<span> <i class="material-icons">home</i></span> Bid</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/view-listings">Buy a Home</a></li>
          <li><a href="/create-listing">Sell a Home</a></li>
          <li><a href="/my-profile/:id">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
